@font-face {
    font-family: Lora;
    src: url('../fonts/Lora/Lora-VariableFont_wght.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Marker;
    src: url('../fonts/Permanent_Marker/Permanent_Marker/PermanentMarker-Regular.ttf');
}